

.container{
  height:100vh;
  width:100%;
  display:grid;
  background:url('../public/images/cat.png');
  background-repeat:no-repeat;
  background-size:cover;
  background-position:100%;

  place-content: center;
}
.containerMain{
  width:60vw;
  position:relative;
}
.correctlyTyped{
  color:red !important;
}
.containerMain #spansParent{
  text-align:center;
  font-size:1.75rem;
  color:grey;
  word-spacing: 3;
  position:relative;
}
.containerMain span{

  letter-spacing: 1px;
}
.blinker{

  background:var(--base-color);
  border-radius:0 0 1rem 1rem;
  
  border-top:2px solid rgb(255, 225, 0);
  color:white;
}
.resultContainer{
  display: grid;
  grid-template-columns: 0.3fr 0.7fr;
  align-items:flex-end;
  grid-gap:1rem;
  width:60vw;
}
.resultContainer  h1{
  color:grey;
  font-weight:600;
  font-size:3rem;
  line-height:1;
}
.resultContainer p{
  font-size:1.5rem;
  line-height:0.5;
}
.resultContainer p .span{
  width:100px;
 font-size:2.5rem;
}
.navbarContainer{
  display:flex;
  position:fixed;
  padding:0.25rem 3rem;
  top:0;
  left:0;
  width:100%;
  justify-content:space-between;
  align-items:Center;
}
.navbarContainer>p{
  font-size:2rem;
line-height: 0.25;
}
.notFocusContainer{
  padding:3rem;
  background:rgb(20, 20, 20);
  border:2px solid var(--base-color);
  border-radius:0.25rem;
  font-size:1.5rem;
}

.flexView{
  margin-top:2rem;
  display:flex;
  justify-content:center;
}
.controlbutton{
  background:transparent;
  padding:0.75rem 1rem;
  color:white;
  cursor:pointer;
  border-radius:0.25rem;

}
.controlbutton:hover .icon{
  color:white;
}
.controlbutton:active{
  background:var(--base-color);
}
.icon{
  color:gray;
}
.signature{
  position:fixed;
  bottom:0px;
  left:50%;
  transform:translate(-50%,0);
  color:gray;
  font-size:0.7rem;
}
.additionalInfo{
  position:fixed;
  left:10px;
  bottom:10px;
}
.bulb{
  height:8px;
  width:8px;
  border-radius: 100%;
  background:var(--base-color);
  opacity:0.5;
}
.on{
  opacity:1;
  box-shadow:2px 2px 10px var(--base-color);
}